.cart{
  padding: 0 100px;
}

.list-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-product-cart{
  width: 200px;
}

.empty-cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 170px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(194, 194, 194);
  background-color: rgba(123, 11, 11, 0.728);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px 1px #ff00001d;
  box-shadow: 0px 5px 20px 1px #ff00001d;
}