.cartwidget{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgb(28, 28, 28);
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px 1px #ff000033;
  box-shadow: 0px 5px 20px 1px #ff000033;
  color: rgb(189, 189, 189);
}

.cartwidget:hover{
  color: white;
  cursor: pointer;
  border-bottom: 5px solid rgb(181, 15, 15);
  background-color: rgba(138, 27, 27, 0.529);
  border-radius: 10px;
}

.notification-cartwidget{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 20px;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.cartwidget:hover .notification-cartwidget{
  border-bottom: 5px solid rgba(181, 15, 15, 0);
  background-color: rgba(138, 27, 27, 0.529);
  border-radius: 10px;
}