.navbar{
  background-color: rgba(20, 20, 20, 0.919);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgba(255, 0, 0, 0.274);
  padding: 10px 30px;
  margin: 0 0 50px 0;
  font-size: 20px;
  height: 120px;
}
.navbar .logo{
  width: 110px;
  height: 110px;
}
.categories{
  height: 60px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-weight: 400;
  background-color: rgb(28, 28, 28);
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px 1px #ff00001d;
  box-shadow: 0px 5px 20px 1px #ff00001d;
}
.categories .category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  padding: 0px 25px;
  color: rgb(189, 189, 189);
}

.categories .category:hover {
  color: white;
  cursor: pointer;
  border-bottom: 5px solid rgb(181, 15, 15);
  background-color: rgba(138, 27, 27, 0.529);
  border-radius: 10px;
}

.categories .active{
  color: white;
  cursor: pointer;
  border-bottom: 5px solid rgb(181, 15, 15);
  background-color: rgba(138, 27, 27, 0.529);
  border-radius: 10px;
}