.navbar{
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgb(56, 6, 6);
  padding: 10px 30px;
  margin: 0 0 50px 0;
  font-size: 20px;
  height: 100px;
}
.navbar .logo{
  width: 110px;
  height: 110px;
}
.categories{
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 400;
}
.categories li{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 5px;
}
.categories .category{
  color: rgb(215, 34, 34);
  text-decoration: none;
}
.categories li:hover{
  cursor: pointer;
  border-bottom: 5px solid rgb(181, 15, 15);
}