.titulo-h2{
  background-color: darkcyan;
  padding: 20px;
}

.titulo-banner{
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}