.itemcount {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.controls-itemcount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.button-control-itemcount {
  height: 50px;
  width: 30%;
  font-size: 20px;
  font-weight: 400;
  color: rgb(194, 194, 194);
  background-color: rgb(41, 41, 41);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px 1px #ff00001d;
  box-shadow: 0px 5px 20px 1px #ff00001d;
}

.button-control-itemcount:hover {
  color: white;
  cursor: pointer;
  border-bottom: 5px solid rgb(181, 15, 15);
  background-color: rgba(138, 27, 27, 0.529);
  border-radius: 10px;
}

.value-itemcount {
  width: 80%;
  text-align: center;
}

.addcart-itemcount {
  height: 45px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(194, 194, 194);
  background-color: rgb(41, 41, 41);
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px 1px #ff00001d;
  box-shadow: 0px 5px 20px 1px #ff00001d;
}

.addcart-itemcount:hover {
  color: white;
  cursor: pointer;
  border-bottom: 5px solid rgb(181, 15, 15);
  background-color: rgba(138, 27, 27, 0.529);
  border-radius: 10px;
}